APP_ENV=local
LOG_LEVEL=debug
HTTP_PORT=8080
HTTP_READ_TIMEOUT=5s
HTTP_WRITE_TIMEOUT=10s

DB_URL=
DB_MAX_CONNS=10

REDIS_ADDR=localhost:6379
JWT_SECRET=change-me-min-32-chars-long-secret
JWT_ACCESS_TTL=15m
JWT_REFRESH_TTL=720h
JWT_ISSUER=url-shortener

GOOSE_DRIVER=postgres
GOOSE_DBSTRING=postgres://user:pass@localhost:5432/shortener?sslmode=disable
GOOSE_MIGRATION_DIR=migrations